.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.all-organizations {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
}
.organization {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-right: 5px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 2px;
  background-color: aliceblue;
}
.organization p {
  color: #000;
  font-size: 10px;
  padding-left: 10px;
  text-align: left;
  align-self: center;
  line-height: 30px;
}

#name {
  width: 250px;
  overflow-x: hidden;
}

#email {
  width: 200px;
  overflow-x: hidden;
}
#address {
  width: 350px;
  overflow-x: scroll;
}
#mission {
  width: 350px;
  overflow-x: scroll;
}
#country {
  width: 100px;
  overflow-x: hidden;
}
#language {
  width: 70px;
  overflow-x: hidden;
}
#durl {
  width: 100px;
  overflow-x: hidden;
  font-size: 10px;
  padding-left: 10px;
  line-height: 30px;
}
#wurl {
  width: 100px;
  overflow-x: hidden;
  font-size: 10px;
  padding-left: 10px;
  line-height: 30px;
}
#approve {
  width: 70px;
  border: none;
  outline: none;
  margin-left: 10px;
  background-color: aquamarine;
}
#delete {
  width: 70px;
  border: none;
  outline: none;
  margin-left: 10px;
  background-color: aquamarine;
}
.organization a {
  color: blueviolet;
  text-decoration: none;
}
.organization a:hover {
  color: rgb(49, 38, 21);
  pointer-events: visibleFill;
}

.organization button {
  font-size: 10px;
  font-weight: bold;
  border-radius: 10px;
  height: 25px;
  width: 25px;
  cursor: pointer;
}
.organization button:hover {
  background-color: red;
}
#approve-x {
  width: 70px;
  border: none;
  outline: none;
  margin-left: 10px;
  background-color: aliceblue;
}
#delete-x {
  width: 70px;
  border: none;
  outline: none;
  margin-left: 10px;
  background-color: aliceblue;
}


.App  h1 {
 color: #000;

}